---
layout: home
title: ""
---


<hr>

<div class="toc">
  <h2>Chapters</h2>
  <ul class="texts">
  {% for item in site.chapters %}
    {% if item.number %}
      {% assign chapterMatch = site.texts | where: "chapter-number", item.number %}
        {% assign englishMatch = chapterMatch | where: "language", "en" | first %}
          {% assign title_en = englishMatch.title %}
        {% assign russianMatch = chapterMatch | where: "language", "ru" | first %}
          {% assign title_ru = russianMatch.title %}
            <li class="text-title">
              <a href="{{ site.baseurl }}{{ item.url }}">
                {{ item.number }}. {{ title_en }} / {{ title_ru }}
              </a>
            </li>
    {% endif %}
  {% endfor %}
  </ul>
</div>



<style>

    body , html {
	  height: 100%;
	}
	.imgcontainer {
	  position: relative;
	  background-image: url("assets/forest.png");
	  background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	  height: 450px;
    width: 100vw;
    padding-left:0;
    padding-right:0;
    left:0;

    
	}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #9A8D84;
  overflow: hidden;
  padding-left: 65px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #9A8D84;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #9A8D84;
  color: white;
}
</style>
 

  
  
  

  
  