<div id="annotation-panel">
    <button class="expbtn" id="btn-expand-annotations" onclick="expandAnnotations()">▲</button>
    <div id="annotation-container">
        <div id="annotations-en">
            {% assign annotations-en = site.data.comments-all | where: "lang", "en" %}
            {% for annotation in annotations-en %}
              {% assign chapter = annotation.chapter | truncate: 2, "" %}
              {% if chapter == page.number %}
                <div id="{{ annotation.Id }}" class="annotation">
                    {% assign image-list = annotation.image %}
                    {% if image-list != "[]" %}
                        {% assign image-list-size = image-list | size %}
                        {% assign image-list-size-minus-one = image-list-size | minus: 1 %}
                        {% assign image-list = image-list | truncate: image-list-size-minus-one, "" | remove_first: "[" %}
                        {% assign images = image-list | remove: "'![](" | remove: ")'" | split: ", " -%}
                        <div class="annotation-img-container">
                            {% for img in images -%}
                                <img src="{{ img }}">
                            {% endfor %}
                        </div>
                        <div class="annotation-text-container with-img">
                            <span class="highlighted">{{ annotation.highlighted }}</span>
                            <p class="en-comment" markdown="1">{{ annotation.text }}</p>
                            <div class="annotation-tag-container">
                                {% assign list = annotation.tags %}
                                {% assign tags = list | remove: "[" | remove: "]" | remove: "'" | split: ", " -%}
                                {% for tag in tags -%}
                                    <span class="tag tag-{{ tag }}">{{ tag }}</span> 
                                {% endfor %}
                            </div>
                        </div>                        
                    {% else %}
                        <div class="annotation-text-container">
                            <span class="highlighted">{{ annotation.highlighted }}</span>
                            <p class="en-comment" markdown="1">{{ annotation.text }}</p>
                            <div class="annotation-tag-container">
                                {% assign list = annotation.tags %}
                                {% assign tags = list | remove: "[" | remove: "]" | remove: "'" | split: ", " -%}
                                {% for tag in tags -%}
                                    <span class="tag tag-{{ tag }}">{{ tag }}</span> 
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
              {% endif %}
            {% endfor %}
        </div>
        <div id="annotations-ru">
            {% assign annotations-ru = site.data.comments-all | where: "lang", "ru" %}
            {% for annotation in annotations-ru %}
              {% assign chapter = annotation.chapter | truncate: 2, "" %}
              {% if chapter == page.number %}
                <div id="{{ annotation.Id }}" class="annotation">
                    {% assign image-list = annotation.image %}
                    {% if image-list != "[]" %}
                        {% assign image-list-size = image-list | size %}
                        {% assign image-list-size-minus-one = image-list-size | minus: 1 %}
                        {% assign image-list = image-list | truncate: image-list-size-minus-one, "" | remove_first: "[" %}
                        {% assign images = image-list | remove: "'![](" | remove: ")'" | split: ", " -%}
                        <div class="annotation-img-container">
                            {% for img in images -%}
                                <img src="{{ img }}">
                            {% endfor %}
                        </div>
                        <div class="annotation-text-container with-img">
                            <span class="highlighted">{{ annotation.highlighted }}</span>
                            <p class="en-comment" markdown="1">{{ annotation.text }}</p>
                            {% if annotation.ru_trans %}
                                <p class="ru-comment" markdown="1"> {{ annotation.ru_trans }}</p>
                            {% endif %}
                            <div class="annotation-tag-container">
                                {% assign list = annotation.tags %}
                                {% assign tags = list | remove: "[" | remove: "]" | remove: "'" | split: ", " -%}
                                {% for tag in tags -%}
                                    <span class="tag tag-{{ tag }}">{{ tag }}</span> 
                                {% endfor %}
                            </div>
                        </div>                        
                    {% else %}
                        <div class="annotation-text-container">
                            <span class="highlighted">{{ annotation.highlighted }}</span>
                            <p class="en-comment" markdown="1">{{ annotation.text }}</p>
                            {% if annotation.ru_trans %}
                                <p class="ru-comment" markdown="1"> {{ annotation.ru_trans }}</p>
                            {% endif %}
                            <div class="annotation-tag-container">
                                {% assign list = annotation.tags %}
                                {% assign tags = list | remove: "[" | remove: "]" | remove: "'" | split: ", " -%}
                                {% for tag in tags -%}
                                    <span class="tag tag-{{ tag }}">{{ tag }}</span> 
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
              {% endif %}
            {% endfor %}
        </div>
    </div>
</div>