<div id="{{ annotation.Id }}">
    <p markdown="1">
        <span class="highlighted">{{ annotation.highlighted }}</span> - <span class="en-comment">{{ annotation.text }}</span>{% if annotation.ru_trans %}<span class="ru-comment"> {{ annotation.ru_trans }}</span>{% endif %}
        {% assign list = annotation.tags %}
        {% assign tags = list | remove: "[" | remove: "]" | remove: "'" | split: ", " -%}
        {% for tag in tags -%}
            <span class="tag tag-{{ tag }}">{{ tag }}</span> 
        {% endfor %}
    </p>
</div>