<div id="{{ annotation.Id }}" class="annotation">
    <span class="highlighted">{{ annotation.highlighted }}</span>
    <p class="en-comment" markdown="1">{{ annotation.text }}</p>
    {% if annotation.ru_trans %}
    <p class="ru-comment" markdown="1"> {{ annotation.ru_trans }}</p>
    {% endif %}
    <p>
        {% assign list = annotation.tags %}
        {% assign tags = list | remove: "[" | remove: "]" | remove: "'" | split: ", " -%}
        {% for tag in tags -%}
            <span class="tag tag-{{ tag }}">{{ tag }}</span> 
        {% endfor %}
    </p>
</div>