  <!-- Littlefoot -->
  <script src="{{site.baseurl}}/assets/js/littlefoot.js"></script>
  <script type="application/javascript">
    littlefoot.littlefoot()
  </script>
  </body>

<style>
  /* darken littlefoot buttons */
  .littlefoot-footnote__button {
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    background-color: #A9AAA1;
    border-radius: .5em;
    border: 0;
    box-sizing: border-box;
    color: #A9AAA1;
    cursor: pointer;
    display: inline-block;
    font-size: .9em;
    font-weight: bold;
    height: 1em;
    line-height: 1;
    margin: 0 .1em 0 .2em;
    min-width: 1.5em;
    padding: 0 .5em;
    position: relative;
    text-decoration: none;
    top: -.1em;
    transition-duration: .25s;
    transition-property: background-color color;
    transition-timing-function: ease;
    vertical-align: middle;
    z-index: 5
  }

  .littlefoot-footnote__button:hover,
  .littlefoot-footnote__button:focus {
    background-color: #8A8B80;
    color: white
  }
  
  .littlefoot-footnote__button:active {
    background-color: #8A8B80;
    color: white
  }
  
  .littlefoot-footnote__button.is-active {
    background-color: #8A8B80;
    color: white;
    transition-delay: .1s
  }
</style>