/* -------- Annotations -------- */

/* annotation links in main text */

.annotations-hidden {
  span.annotation-link {
    color: $text-color;
    text-decoration: none;
    pointer-events: none;
  }
}

.annotations-visible {
  span.annotation-link {
    background-color: #778eac5f;
  }
}

/* annotation panel */

#annotation-panel {
  display: none;
  width: 100%;
  height: 10rem;
  position: fixed;
  bottom: 0;
  left: 0;
  top: auto;
  right: auto;
  border:rgba(0, 0, 0, .1);
  border-width: 1px 0 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border-top: 1px solid #c3c3c3;
  padding: .5rem 1rem;
  background: #fafafa;
  overflow-y: scroll;
}

.annotation {
  position: relative;
  padding: .75rem 0 0 0;
  border-bottom: 1px solid #c8c8c8;
}

.highlighted {
  display: block;
  text-decoration: underline;
}

#annotation-text {
  font-size: 0.85em;
  
  img {
    max-width: 12rem;
    max-height: 12rem;
    float: right;
  }
  
  .en-comment{
    display: inline-block;
    height: fit-content;
  }

  .ru-comment {
    display: inline-block;
    height: fit-content;
  }

  #annotations-ru {
    display: none;
  }

  #annotations-ru.lang-en {
    .en-comment {
      display: inline-block;

      img {
        display: inline-block;
      }
    }
    .ru-comment {
      display: none;
      
      img {
        display: none;
      }
    }
  }

  #annotations-ru.lang-ru {
    .en-comment {
      display: none;

      img {
        display: none;
      }
    }
    .ru-comment {
      display: inline;
      
      img {
        display: inline-block;
      }
    }
  }

  #annotations-ru.lang-both {
    .en-comment {
      display: inline-block;
      
      img {
        display: none;
      }
    }
    .ru-comment {
      display: inline-block;
      margin-top: 0.5rem;
      
      img {
        display: inline-block;
      }
    }
  }

  .tag {
    font-size: 0.85rem;
    background-color: slategray;
    color: white;
    border-radius: 5px;
    padding: 2px 5px;
  }

  .tag-style {
    background-color: rgb(101, 108, 79);
  }
  .tag-intertextuality {
    background-color: rgb(166, 152, 119);
  }
  .tag-language {
    background-color: rgb(158, 83, 31);
  }
  .tag-symbol {
    background-color: rgb(85, 65, 40);
  }
  .tag-explanatory {
    background-color: rgb(197, 134, 64);
  }
  .tag-expand, .tag-error {
    background-color: #AA3232;
  }
}

@media only screen and (max-width: 450px) {
  #annotation-text {
    font-size: 1em;
  }
}
  
#btn-expand-annotations {
  color: #a9a9a9;
  width: 5rem;
  height: 1.25rem;
  position: fixed;
  bottom: 9.95rem;
  left: 50%;
  margin-left: -2.5rem;
  background: #fafafa;
  border: 1px solid #c3c3c3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: #fafafa;
}

#annotation-panel.expanded {
  height: 25rem !important;
}

#btn-expand-annotations.expanded {
  bottom: 24.95rem !important;
}

/* annotation menu */

/* tag visibility */
