/*
  Encyclopedia of the Dog

  Adding functionality for viewing an annotated text in two languages at once.
*/

/* -------- Home Page -------- */

/* header on landing page */
.hero-header {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  display: block;
  top: -200px;
  left: 0;
  background-image:url(hunters.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;

  .dark-banner {
    color: white;
    text-shadow: 0 0 7px #231e18e1;
    font-family: $heading-font;
    background-image: linear-gradient(#231e1800, #231e18);
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 280px;
  }

  .title-container {
    max-width: 50rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 4rem;

    #dogTitle {
      font-size: 5.25vw;
      margin-top: 1rem;
      margin-bottom: 0;
      text-align: left;
      
      a {
        font-family: $main-font;
        text-decoration: none;
        /* text-shadow: 3px 3px 3px $text-color; */
        color: white;
      }
        
      a:hover{
        text-decoration: none;
      }
    }
    
    .subheading {
      font-size: 2.25vw;
      display: block;
      float: left;
      width: 75%;
      text-align: left;
    }

    .header-link {
      font-size: 2.25vw;
      display: block;
      float: right;
      width: 25%;
      text-align: right;

      a {
        color: #E6DABD;
        text-decoration: underline;
      }
    }
  }
}

.homepage-content {
  padding: 1rem 4rem 0;
}

.homepage-footer {
  padding: 1rem 4rem;
}

@media only screen and (min-width: 900px) {
  .hero-header .dark-banner .title-container #dogTitle {
    font-size: 48px;
  }

  .hero-header .dark-banner .title-container .subheading, 
  .hero-header .dark-banner .title-container .header-link {
    font-size: 20px;
  }
}

@media only screen and (min-width: 56em) {
  .hero-header .title-container {
    max-width: 52rem;
  }
}

@media only screen and (max-width: 768px) {
  .hero-header {
    height: 300px;
    top: -150px;
  }

  .hero-header .title-container .subheading {
    width: 100%;
  }

  .hero-header .title-container .header-link {
    width: 100%;
    text-align: left;
  }
}

@media only screen and (max-width: 576px) {
  .hero-header {
    height: 200px;
    top: -50px;
  }

  .hero-header .dark-banner .title-container #dogTitle {
    font-size: 26px;
  }

  .hero-header .title-container .subheading,
  .hero-header .title-container .header-link {
    font-size: 12px;
  }

  .hero-header .dark-banner .title-container {
    padding: 0 1rem;
  }

  .homepage-content {
    padding: 1rem 1rem 0;
  }

  .homepage-footer {
    padding: 1rem;
  }

}

/* -------- Table of Contents Page -------- */

div.toc {
  margin-bottom: 2rem;

  ul {
    list-style: none;
    text-indent: -1rem;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 768px) {
  .toc-ru {
    display: none;
  }
}

/* -------- Bilingual Layouts -------- */

/* Skip Links */
.skip-links {
  ul {
    list-style: none;
  }

  a {
    padding: 6px;
    position: absolute;
    top: -45px;
    left: 0px;
    color: $text-color;
    border-right: 1px solid $text-color;
    border-bottom: 1px solid $text-color;
    border-bottom-right-radius: 8px;
    background: white;
    -webkit-transition: top .2s ease-out;
    transition: top .2s ease-out;
    z-index: 100;
  }

  a:focus {
    position: absolute;
    left: 0px;
    top: 0px;
    outline-color: transparent;
    -webkit-transition: top .2s ease-in;
    transition: top .2s ease-in;
  }
}

/* Menu Bar */
.menu-bar-container {
  position: sticky;
  position: -webkit-sticky;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  height: 65px;
  width: 100%;
}

.menu-bar {
  position: relative;
  display: block;
  width: 100%;
  background-color: #99AAC1;
  text-align: center;
  padding: .75rem .75rem .5rem;
  z-index: 6;

  ul {
    list-style: none;
  }

  li {
    display: inline;
  }

  .sidebar-toggle {
    box-shadow: none;
  }

  .button-container {
    display: inline;
    text-align: center;
  }

  .btn {
    font-family: $main-font;
    color: $text-color;
    font-size: 1rem;
    height: 2rem;
    min-width: 5rem;
    padding: 0 .5rem;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border: none;
    border-radius: .25rem;
    margin: auto;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    left: -1.5rem;
    display: inline-block;
    text-align: center;
    min-width: 5rem;
  }

  .dropdown-icon {
    height: 1rem;
    position: relative;
    top: 2px;
    fill: $text-color;
    pointer-events: none;
  }

  #chapter-menu {
    width: 6.75rem;
  }

  #chapter-list {
    width: inherit;
  }

  #btn-show-chapters {
    width: 6.75rem;
  }

  #language-buttons {
    min-width: 5rem;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    margin: .25rem 0 0;
    padding: .25rem 0;
    min-width: inherit;
    background-color: transparentize(white, 0.05);
    border-radius: .25rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  a.chapter-link {
    display: block;
    color: $text-color  !important;
    text-decoration: none;
    width: inherit;
  }

  .chapter-link:hover,
  .chapter-link:focus {
    background-color: transparentize(#dedede, 0.5);
  }

  #language-list {
    .btn {
      width: 100%;
      border-radius: 0% !important;
      background-color: #ffffff00;
    }

    .btn:hover,
    .btn:focus {
      background-color: transparentize(#dedede, 0.5);
    }
  }

  #annotation-buttons {
    width: 7.75rem;
  }

  #btn-show-annotations-menu {
    width: 7.75rem;
  }

  #annotations-menu-list {
    width: inherit;

    .btn {
      display: block;
      width: 100%;
      border-radius: 0% !important;
      background-color: #ffffff00;
    }

    .btn:hover,
    .btn:focus {
      background-color: transparentize(#dedede, 0.5);
    }

    p {
      margin: 0;
      font-size: 0.75rem;
    }

  }

  .show {
    display: block;
  }


  #btn-hide-annotations {
    display: none;
    background-color: #e7e7e7;
  }

  #btn-show-annotations:hover {
    color: $text-color;
    background-color: white;
  }

  #btn-hide-annotations,
  #btn-show-annotations {
    vertical-align: middle;
    min-width: 8rem;
  }
}

@media only screen and (max-width: 768px) {
  .menu-bar {
    text-align: right;
  }

  #btn-both {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  #chapter-menu {
    display: none;
  }

  #dogTitle {
    font-size: 2rem;
  }
}

/* Text content on pages with a bilingual layout */
.bilingual {
  margin-left: auto;
  margin-right: auto;

  .text-title {
    margin-top: .5rem;
    padding-top: 0.5rem;
  }

  #translator {
    margin-bottom: .5rem;
  }

  .header {
    max-width: 32rem;
    margin: auto;
    text-align: center;
  }

  .text-container {
    overflow-y: auto;
    margin: auto;
  }

  /* Styles for language toggle on chapter content and annotation panel */
  #chapter-content.english {
    max-width: 32rem;
    font-size: 1em;

    #en {
      display: block;
      width: 100%;
    }

    #ru {
      display: none;
    }

    #en-title,
    #translator,
    ~ #annotation-panel #ch-notes-en,
    ~ #annotation-panel #annotations-en {
      display: block;
    }

    #ru-title,
    #both-title,
    ~ #annotation-panel #ch-notes-ru,
    ~ #annotation-panel #annotations-ru {
      display: none;
    }
  }

  #chapter-content.russian {
    max-width: 32rem;
    font-size: 1em;

    #en {
      display: none;
    }
    
    #ru {
      display: block;
      width: 100%
    }

    #en-title,
    #both-title,
    #translator,
    ~ #annotation-panel #ch-notes-en,
    ~ #annotation-panel #annotations-en {
      display: none;
    }

    #ru-title,
    ~ #annotation-panel #ch-notes-ru,
    ~ #annotation-panel #annotations-ru {
      display: block;
    }
  }

  #chapter-content.both {
    max-width: 52rem;
    font-size: 0.85em;
    
    #en {
      display: block;
      float: left;
      width: 49%;
      padding-right: 1%;
      border-right: 1px solid lighten($text-color, 70%);
    }

    #ru {
      display: block;
      float: left;
      width: 49%;
      margin-left: 1%;
    }

    #en-title,
    #ru-title {
      display: none;
    }

    #both-title,
    #translator,
    ~ #annotation-panel #ch-notes-en,
    ~ #annotation-panel #ch-notes-ru,
    ~ #annotation-panel #annotations-en,
    ~ #annotation-panel #annotations-ru {
      display: block;
    }
  }
}

/* Poem-specific styles for bilingual view */
.poem {
  .both {
    max-width: 44rem;
  }
}

/* Hide footnotes at bottom of page except for print */
.footnotes {
  display: none;
}

@media print {
  .footnotes {
    display: block;
  }
}


/* Footer */
footer {
  font-size: 0.85rem;
  max-width: 52rem;
  padding: 1rem 1rem;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid lighten($text-color, 70%);

  p {
    margin: 0 0 .25rem 0;
    color: $text-color;
  }
}


/* -------- Dog Theme -------- */

$text-color: #151515;
$heading-color: #404040;
$link-color: #3E5B7A;

body{
    background-color: #FFFFFF;
    color: $text-color;
}

.panel {
  padding: 0;
}

.byline{
  color: lighten($text-color, 30%);
}

.text-title{
  color: $heading-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  margin-bottom: .5rem;
  font-weight: normal;
  /* color:  #66605B; */
  color: $heading-color;
  letter-spacing: -.025rem;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  
}
h2{
  font-family: $heading-font;
  margin-bottom: .5rem;
  font-weight: normal;
  color: $text-color;
  letter-spacing: -.025rem;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}
#chapter-heading{
  font-family: $heading-font;
  font-weight: normal;
  margin: 0.5rem 0;
  /* color: #ebeced; */
  color: $heading-color;
  /* text-shadow: 1px 1px 1px $text-color; */
  letter-spacing: -.025rem;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

.theme-base-dog .toc a,
.theme-base-dog .sidebar-toggle,
.theme-base-dog .related-posts li a:hover {
  /* color:#e1ecf7; */
  color: $heading-color;
  /* text-shadow: 1px 1px 2px $text-color; */

}

a, .text-title a {
  /* color:#a9b9ca; */
  color: $link-color;
  text-decoration: none;
}