/*
  Encyclopedia of the Dog

  Adding functionality for viewing an annotated text in two languages at once.
*/

/* -------- Home Page -------- */

.homeTitle p {
  color: $text-color;
}

#dogTitle {
  font-family: $main-font;
  text-decoration: none;
  font-size: 2.5rem;
  /* text-shadow: 3px 3px 3px $text-color; */
  text-align: left;
  margin: .5rem 0;

  a {
    color: #767769;
  }
  
  :hover{
    text-decoration: none;
  }
}

/* hero background image on the landing page */
  .imgcontainer {
    position: relative;
    background-image:url(hunters.jpg);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100vw;
    padding-left: 0;
    padding-right: 0;
    left: 0;
}


div.toc {
  margin-bottom: 2rem;

  ul {
    list-style: none;
    text-indent: -1rem;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 600px) {
  .imgcontainer {
    max-height: 15rem;
    width: 100%;
  }

  .toc-ru {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .imgcontainer {
    max-height: 10rem;
    width: 100%;
  }

  #dogTitle {
    font-size: 2rem;
  }
}

/* -------- Bilingual Layouts -------- */

/* Skip Links */
.skip-links {
  ul {
    list-style: none;
  }

  a {
    padding: 6px;
    position: absolute;
    top: -45px;
    left: 0px;
    color: $text-color;
    border-right: 1px solid $text-color;
    border-bottom: 1px solid $text-color;
    border-bottom-right-radius: 8px;
    background: white;
    -webkit-transition: top .2s ease-out;
    transition: top .2s ease-out;
    z-index: 100;
  }

  a:focus {
    position: absolute;
    left: 0px;
    top: 0px;
    outline-color: transparent;
    -webkit-transition: top .2s ease-in;
    transition: top .2s ease-in;
  }
}

/* Menu Bar */

.menu-bar {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(137, 148, 160);
  left: 0;
  right: 0;
  top: 0;
  display: block;
  text-align: center;
  padding: .75rem .75rem .5rem;
  z-index: 6;

  ul {
    list-style: none;
  }

  li {
    display: inline;
  }

  .button-container {
    display: inline;
    text-align: center;
    vertical-align: middle;
  }

  .btn {
    font-family: $main-font;
    color: $text-color;
    font-size: 1rem;
    height: 2rem;
    min-width: 5rem;
    padding: 0 .5rem;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border: none;
    border-radius: .25rem;
    margin: auto;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    min-width: 5rem;
  }

  #chapter-menu {
    width: 6.75rem;
  }

  #chapter-list {
    width: inherit;
  }

  #btn-show-chapters {
    width: 6.75rem;
  }

  #language-buttons {
    min-width: 5rem;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    margin: .25rem 0 0;
    padding: .25rem 0;
    min-width: inherit;
    background-color: transparentize(white, 0.05);
    border-radius: .25rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  a.chapter-link {
    display: block;
    color: $text-color  !important;
    text-decoration: none;
    width: inherit;
  }

  .chapter-link:hover,
  .chapter-link:focus {
    background-color: transparentize(#dedede, 0.5);
  }

  #language-list {
    .btn {
      width: 100%;
      border-radius: 0% !important;
      background-color: #ffffff00;
    }

    .btn:hover,
    .btn:focus {
      background-color: transparentize(#dedede, 0.5);
    }
  }

  #annotation-buttons {
    width: 7.75rem;
  }

  #btn-show-annotations-menu {
    width: 7.75rem;
  }

  #annotations-menu-list {
    width: inherit;

    .btn {
      display: block;
      width: 100%;
      border-radius: 0% !important;
      background-color: #ffffff00;
    }

    .btn:hover,
    .btn:focus {
      background-color: transparentize(#dedede, 0.5);
    }

    p {
      margin: 0;
      font-size: 0.75rem;
    }

  }

  .show {
    display: block;
  }


  #btn-hide-annotations {
    display: none;
    background-color: #e7e7e7;
  }

  #btn-show-annotations:hover {
    color: $text-color;
    background-color: white;
  }

  #btn-hide-annotations,
  #btn-show-annotations {
    vertical-align: middle;
    min-width: 8rem;
  }
}

@media only screen and (max-width: 600px) {
  .menu-bar {
    text-align: right;
  }

  .imgcontainer {
    max-height: 15rem;
    width: 100%;
  }

  #btn-both {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  #chapter-menu {
    display: none;
  }

  .imgcontainer {
    max-height: 10rem;
    width: 100%;
  }

  #dogTitle {
    font-size: 2rem;
  }
}

/* Text content on pages with a bilingual layout */
div.bilingual {
  margin-top: 3.5rem;
}

.bilingual {

  .text-title {
    margin-top: .5rem;
    padding-top: 0.5rem;
  }

  #en-title,
  #translator {
    display: block;
  }

  #ru-title,
  #both-title {
    display: none;
  }

  #translator {
    margin-bottom: .5rem;
  }

  .header {
    max-width: 32rem;
    margin: auto;
    text-align: center;
  }

  .text-container {
    overflow-y: auto;
    margin: auto;
  }

  .english {
    max-width: 32rem;
    font-size: 1em;
    #en {
      display: block;
      width: 100%;
    }
    #ru {
      display: none;
    }
  }

  .russian {
    max-width: 32rem;
    font-size: 1em;
    #en {
      display: none;
    }
    #ru {
      display: block;
      width: 100%
    }
  }

  .both {
    max-width: 52rem;
    font-size: 0.85em;
    #en {
      display: block;
      float: left;
      width: 49%;
      padding-right: 1%;
      border-right: 1px solid lighten($text-color, 70%);
    }
    #ru {
      display: block;
      float: left;
      width: 49%;
      margin-left: 1%;
    }
  }

}
/* Poem-specific styles for bilingual view */
.poem {
  .both {
    margin-left: 2em;
    #en {
      padding-left: 2rem;
    }
    #ru {
      padding-left: 0.5rem;
      padding-right: 2rem;
    }
  }
}

/* Hide footnotes at bottom of page except for print */
.footnotes {
  display: none;
}

@media print {
  .footnotes {
    display: block;
  }
}


/* Footer */
footer {
  font-size: 0.85rem;
  max-width: 52rem;
  padding: 1rem 1rem;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid lighten($text-color, 70%);
  
  a {
    color: #9A8D84;
  }

  p {
    margin: 0 0 .25rem 0;
    color: $text-color;
  }
}


/* -------- Dog Theme -------- */

$text-color: #151515;
$heading-color: #404040;
$link-color: #9A8D84;

.theme-base-dog .sidebar,
.theme-base-dog .sidebar-toggle:active,
.theme-base-dog #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color:#9A8D84;
}
// .theme-base-dog .container a,
.theme-base-dog .sidebar-toggle,
.theme-base-dog .related-posts li a:hover {
  color:  #66605B;
}

body{
    background-color: #FFFFFF;
    color: $text-color;
}

.panel {
  padding: 0;
}

.byline{
  color: lighten($text-color, 30%);
}

.text-title{
  color: $heading-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  margin-bottom: .5rem;
  font-weight: normal;
  /* color:  #66605B; */
  color: $heading-color;
  letter-spacing: -.025rem;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  
}
h2{
  font-family: $heading-font;
  margin-bottom: .5rem;
  font-weight: normal;
  color: $text-color;
  letter-spacing: -.025rem;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}
#chapter-heading{
  font-family: $heading-font;
  font-weight: normal;
  margin: 0.5rem 0;
  /* color: #ebeced; */
  color: $heading-color;
  /* text-shadow: 1px 1px 1px $text-color; */
  letter-spacing: -.025rem;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

.theme-base-dog .toc a,
.theme-base-dog .sidebar-toggle,
.theme-base-dog .related-posts li a:hover {
  /* color:#e1ecf7; */
  color: $heading-color;
  /* text-shadow: 1px 1px 2px $text-color; */

}

a, .text-title a {
  /* color:#a9b9ca; */
  color: $link-color;
  text-decoration: none;
}