<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-{{site.color-scheme}}">
      <div class="annotation-page">
        {{ content }}
      </div>
  </body>

  <script>
    // Language buttons
    function showEnglish() {
        document.getElementById("en-title").style.display = "block";
        document.getElementById("ru-title").style.display = "none";
        document.getElementById("both-title").style.display = "none";
        document.getElementById("translator").style.display = "block";
        var element = document.getElementById("texts");
          element.classList.remove("english");
          element.classList.remove("russian");
          element.classList.remove("both");
          element.classList.add("english");
        document.getElementById("annotations-en").style.display = "block";
        document.getElementById("annotations-ru").style.display = "none";
      }
    
      function showRussian() {
        document.getElementById("en-title").style.display = "none";
        document.getElementById("ru-title").style.display = "block";
        document.getElementById("both-title").style.display = "none";
        document.getElementById("translator").style.display = "none";
        var element = document.getElementById("texts");
          element.classList.remove("english");
          element.classList.remove("russian");
          element.classList.remove("both");
          element.classList.add("russian");
        document.getElementById("annotations-en").style.display = "none";
        document.getElementById("annotations-ru").style.display = "block";
      }
    
      function showBoth() {
        document.getElementById("en-title").style.display = "none";
        document.getElementById("ru-title").style.display = "none";
        document.getElementById("both-title").style.display = "block";
        document.getElementById("translator").style.display = "block";
        var element = document.getElementById("texts");
          element.classList.remove("english");
          element.classList.remove("russian");
          element.classList.remove("both");
          element.classList.add("both");
        document.getElementById("annotations-en").style.display = "block";
        document.getElementById("annotations-ru").style.display = "block";
      }
  </script>

</html>
