<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-{{site.color-scheme}}">

    <!-- This if statement decides which sidebar to use -->
    {% if page.toc %}
    {% include sidebar-toc.html %}
    {% else %}
    {% include sidebar.html %}
    {% endif %}

    <!-- Skip links for narrative-bilingual and poem-bilingual layouts -->
    {% if page.layout == "narrative-bilingual" or page.layout == "poem-bilingual" %}
    <nav class="skip-links">
      <ul>
        <li class="skip-link"><a href="#chapter-content" class="screen-reader-shortcut">Skip to main content</a></li>
      </ul>
    </nav>
    {% endif %}

    <!--
      Wrap is the content to shift when toggling the sidebar. We wrap the content to avoid any CSS
      collisions with our real content.
    -->
    <div class="wrap">
      <button class="sidebar-toggle"
        aria-label="Open navigation menu"
        aria-expanded="false"
        aria-controls="sidebar">
      </button>
      {% if page.layout == "narrative-bilingual" or page.layout == "poem-bilingual" %}
      {% else %}
      <header class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title | newline_to_br }}</a>
            <br><small>{{ site.tagline }}</small>
          </h3>
        </div>
      </header>
      {% endif %}

      <main class="container content" id="main" lang="{{ page.language }}">
        {{ content }}     
      </main>

      <footer> 
        <p>Copyrighted text used with permission of Columbia UP (English) & Azbuka (Russian).</p>
        <p>This site uses cookies to remember your language preferences. For more information, check out our <a href="{{ '/privacy-policy/' | relative_url }}">Privacy Policy</a>.</p>
      </footer>  
    </div>

  <script>
    // Highlight search Query
    var url = window.location.href;
      if (url.lastIndexOf("?q=") > 0) {
        // get the index of the parameter, add three (to account for length)
        var stringloc = url.lastIndexOf("?q=") + 3;
        // get the substring (query) and decode
        var searchquery = decodeURIComponent(url.substr(stringloc));
        // regex matches at beginning of line, end of line or word boundary, useful for poetry
        var regex = new RegExp("(?:^|\\b)(" + searchquery + ")(?:$|\\b)", "gim");
        // get, add mark and then set content
        var content = document.getElementById("main").innerHTML;
        document.getElementById("main").innerHTML = content.replace(regex, "<mark>$1</mark>");
    }

    // Support sidebar toggle
    (function(document) {
      var toggle = document.querySelector('.sidebar-toggle');
      var sidebar = document.querySelector('#sidebar');
      var sidebarNavLink = document.querySelector('.sidebar-nav-item');
      var checkbox = document.querySelector('#sidebar-checkbox');
      
      // Toggle sidebar
      toggle.addEventListener('click', function(e) {
        e.preventDefault();
        checkbox.checked = !checkbox.checked;
        toggle.setAttribute('aria-expanded', checkbox.checked);
        sidebar.setAttribute('aria-hidden', !checkbox.checked);
      });
      
      // Make sure we focus on the menu once it opens to aid tab navigation
      sidebar.addEventListener('transitionend', function() {sidebarNavLink.focus()});
      
      // Clicking anywhere in the sidebar should close the menu
      sidebar.addEventListener('click', function(e) {
        checkbox.checked = false;
        toggle.setAttribute('aria-expanded', false);
        sidebar.setAttribute('aria-hidden', true);
      })
    })(document);
  </script>
</body>

</html>
