---
layout: bilingual
---

{% assign thisChapter = site.texts | where: "chapter-number", page.number %}
{% assign thisChapter-en = thisChapter | where: "language", "en" %}
{% for i in thisChapter-en %}
{% assign title_en = i.title %}
{% assign text_en = i.content %}
{% endfor %}
{% assign thisChapter-ru = thisChapter | where: "language", "ru" %}
{% for i in thisChapter-ru %}
{% assign title_ru = i.title %}
{% assign text_ru = i.content %}
{% endfor %}

<article id="chapter-content" class="narrative bilingual annotations-hidden english">
  <div class="header">
    <h1 class="text-title" id="en-title">{{ page.number }}. {{ title_en }}</h1>
    <h1 class="text-title" id="ru-title">{{ page.number }}. {{ title_ru }}</h1>
    <h1 class="text-title" id="both-title">{{ page.number }}. {{ title_en }} / {{ title_ru }}</h1>
    <p class="byline">by {{ page.author }}</p>
    <p class="byline" id="translator">Translated by {{ page.translator }}</p>
  </div>

  <div class="main-content">
    <div id="texts" class="text-container">
      <div id="en" markdown="1">
        {% include annotated-text-narrative.html lang="en" %}
      </div>
      <div id="ru" markdown="1">
        {% include annotated-text-narrative.html lang="ru" %}
      </div>
    </div>
  </div>
</article>

{{ content }}

{% include annotation-panel.html %}