---
layout: default
---

{% assign thisChapter = site.texts | where: "chapter-number", page.number %}
{% assign thisChapter-en = thisChapter | where: "language", "en" %}
{% for i in thisChapter-en %}
{% assign title_en = i.title %}
{% assign text_en = i.content %}
{% endfor %}
{% assign thisChapter-ru = thisChapter | where: "language", "ru" %}
{% for i in thisChapter-ru %}
{% assign title_ru = i.title %}
{% assign text_ru = i.content %}
{% endfor %}

<article class="narrative bilingual">
  <div class="header">
    <h1 class="text-title" id="en-title">{{ page.number }}. {{ title_en }}</h1>
    <h1 class="text-title" id="ru-title">{{ page.number }}. {{ title_ru }}</h1>
    <h1 class="text-title" id="both-title">{{ page.number }}. {{ title_ru }} / {{ title_en }}</h1>
    <p class="byline">by {{ page.author }}</p>
    <p class="byline" id="translator">Translated by {{ page.translator }}</p>
  </div>

  <div>
    <div class="button-container" id="language-buttons">
      <button class="btn active" id="btn-en" onclick="showEnglish()">English</button>
      <button class="btn" id="btn-ru" onclick="showRussian()">Russian</button>
      <button class="btn" id="btn-both" onclick="showBoth()">Both</button>
    </div>
    <div class="button-container" id="annotation-buttons">
      <button class="btn" id="btn-show-annotations" onclick="showAnnotations()">Show Annotations</button>
      <button class="btn" id="btn-hide-annotations" onclick="hideAnnotations()">Hide Annotations</button>
    </div>

    <div class="panel" id="en" markdown="1">
      {{ text_en }}
    </div>

    <div class="panel" id="ru" markdown="1">
      {{ text_ru }}
    </div>

    <div class="panel" id="both">
      <div class="left-panel" markdown="1">
        {{ text_ru }}
      </div>
      <div class="right-panel" markdown="1">
        {{ text_en }}
      </div>
    </div>
  </div>

  <script>
    // Language buttons
    function showEnglish() {
      document.getElementById("en-title").style.display = "block";
      document.getElementById("ru-title").style.display = "none";
      document.getElementById("both-title").style.display = "none";
      document.getElementById("translator").style.display = "block";
      document.getElementById("en").style.display = "block";
      document.getElementById("ru").style.display = "none";
      document.getElementById("both").style.display = "none";
    }

    function showRussian() {
      document.getElementById("en-title").style.display = "none";
      document.getElementById("ru-title").style.display = "block";
      document.getElementById("both-title").style.display = "none";
      document.getElementById("translator").style.display = "none";
      document.getElementById("en").style.display = "none";
      document.getElementById("ru").style.display = "block";
      document.getElementById("both").style.display = "none";
    }

    function showBoth() {
      document.getElementById("en-title").style.display = "none";
      document.getElementById("ru-title").style.display = "none";
      document.getElementById("both-title").style.display = "block";
      document.getElementById("translator").style.display = "block";
      document.getElementById("en").style.display = "none";
      document.getElementById("ru").style.display = "none";
      document.getElementById("both").style.display = "block";
    }

    // Active links in chapter nav
    // Get the container element
    var btnContainer = document.getElementById("button-container");

    // Get all buttons with class="btn" inside the container
    var btns = btnContainer.getElementsByClassName("btn");

    // Loop through the buttons and add the active class to the current/clicked button
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function () {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }

    // Show annotations
    function showAnnotations(){
      var divsToHide = document.getElementsByClassName("littlefoot-footnote__host"); //divsToHide is an array
      for(var i = 0; i < divsToHide.length; i++){
          divsToHide[i].style.display = "inline";
      }
      // Switch button to 'Hide Annotations'
      document.getElementById("btn-show-annotations").style.display = "none";
      document.getElementById("btn-hide-annotations").style.display = "block";
    }
    // Hide annotations
    function hideAnnotations(){
      var divsToHide = document.getElementsByClassName("littlefoot-footnote__host"); //divsToHide is an array
      for(var i = 0; i < divsToHide.length; i++){
          divsToHide[i].style.display = "none";
      }
      // Switch button to 'Show Annotations'
      document.getElementById("btn-show-annotations").style.display = "block";
      document.getElementById("btn-hide-annotations").style.display = "none";
    }
  </script>

</article>