---
layout: bilingual
---

{% assign thisChapter = site.texts | where: "chapter-number", page.number %}
{% assign thisChapter-en = thisChapter | where: "language", "en" %}
{% for i in thisChapter-en %}
{% assign title_en = i.title %}
{% assign text_en = i.content %}
{% endfor %}
{% assign thisChapter-ru = thisChapter | where: "language", "ru" %}
{% for i in thisChapter-ru %}
{% assign title_ru = i.title %}
{% assign text_ru = i.content %}
{% endfor %}

<article class="bilingual poem poetry annotations-hidden" id="chapter-content">
    <div class="header">
        <h1 class="text-title" id="en-title">{{ page.number }}. {{ title_en }}</h1>
        <h1 class="text-title" id="ru-title">{{ page.number }}. {{ title_ru }}</h1>
        <h1 class="text-title" id="both-title">{{ page.number }}. {{ title_en }} / {{ title_ru }}</h1>
        <p class="byline">by {{ page.author }}</p>
        <p class="byline" id="translator">Translated by {{ page.translator }}</p>
    </div>

    <div class="main-content">
        <div class="text-container english" id="texts">
          <div id="en" markdown="1">
            {% capture annotated-text-en %}
            {{ text_en }}
            {% endcapture %}
    
            {% assign annotations-en = site.data.comments-all | where: "lang", "en" %}
            {% for annotation in annotations-en %}
                {% assign chapter = annotation.chapter | truncate: 2, "" %}
                {% if chapter == page.number %}
                  {% capture highlighted %}{{ annotation.highlighted }}{% endcapture %}
                  {% capture suffix %}{{ annotation.suffix | newline_to_br | split: "<br />" | first | rstrip }}{% endcapture %}
                  {% capture prefix %}{{ annotation.prefix | newline_to_br | split: "<br />" | last | lstrip }}{% endcapture %}
                  {% assign highlighted-array = highlighted | newline_to_br | split: "<br />" %}
                  {% assign highlighted-size = highlighted-array | size %}
                  {% if highlighted-size > 1 %}
                    {% assign first-line = highlighted-array | first %}
                    {% assign last-line = highlighted-array | last %}
                    {% for line in highlighted-array %}
                      {% if line == first-line %}
                        {% capture replaced-line %}{{ prefix }}{{ line | rstrip }}{% endcapture %}
                      {% elsif line == last-line %}
                        {% capture replaced-line %}{{ line | lstrip }}{{ suffix }}{% endcapture %}
                      {% else %}
                        {% capture replaced-line %}{{ line | strip }}{% endcapture %}
                      {% endif %}
                      {% comment %}{{ replaced-line }}<br />{% endcomment %}
                      {% capture new-line %}<span class="annotation-link" onclick="window.location.href='#{{ annotation.Id }}';" tabindex="-1">{{ replaced-line }}</span>{% endcapture %}
                      {% capture annotated-text-en %}{{ annotated-text-en | replace_first: replaced-line, new-line }}{% endcapture %}
                    {% endfor %}
                  {% else %}
                    {% capture replaced-line %}{{ prefix }}{{ highlighted }}{{ suffix }}{% endcapture %}
                    {% comment %}{{ replaced-line }}<br />{% endcomment %}
                    {% capture new-line %}<span class="annotation-link" onclick="window.location.href='#{{ annotation.Id }}';" tabindex="-1">{{ replaced-line }}</span>{% endcapture %}
                    {% capture annotated-text-en %}{{ annotated-text-en | replace_first: replaced-line, new-line }}{% endcapture %}
                  {% endif %}
                {% endif %}
            {% endfor %}
            
            {{ annotated-text-en }}
          </div>
          <div id="ru" markdown="1">
            {% capture annotated-text-ru %}
            {{ text_ru }}
            {% endcapture %}
    
            {% assign annotations-ru = site.data.comments-all | where: "lang", "ru" %}
            {% for annotation in annotations-ru %}
                {% assign chapter = annotation.chapter | truncate: 2, "" %}
                {% if chapter == page.number %}
                  {% capture highlighted %}{{ annotation.highlighted }}{% endcapture %}
                  {% capture suffix %}{{ annotation.suffix | newline_to_br | split: "<br />" | first | rstrip }}{% endcapture %}
                  {% capture prefix %}{{ annotation.prefix | newline_to_br | split: "<br />" | last | lstrip }}{% endcapture %}
                  {% assign highlighted-array = highlighted | newline_to_br | split: "<br />" %}
                  {% assign highlighted-size = highlighted-array | size %}
                  {% if highlighted-size > 1 %}
                    {% assign first-line = highlighted-array | first %}
                    {% assign last-line = highlighted-array | last %}
                    {% for line in highlighted-array %}
                      {% if line == first-line %}
                        {% capture replaced-line %}{{ prefix }}{{ line | rstrip }}{% endcapture %}
                      {% elsif line == last-line %}
                        {% capture replaced-line %}{{ line | lstrip }}{{ suffix }}{% endcapture %}
                      {% else %}
                        {% capture replaced-line %}{{ line | strip }}{% endcapture %}
                      {% endif %}
                      {% comment %}{{ replaced-line }}<br />{% endcomment %}
                      {% capture new-line %}<span class="annotation-link" onclick="window.location.href='#{{ annotation.Id }}';" tabindex="-1">{{ replaced-line }}</span>{% endcapture %}
                      {% capture annotated-text-ru %}{{ annotated-text-ru | replace_first: replaced-line, new-line }}{% endcapture %}
                    {% endfor %}
                  {% else %}
                    {% capture replaced-line %}{{ prefix }}{{ highlighted }}{{ suffix }}{% endcapture %}
                    {% comment %}{{ replaced-line }}<br />{% endcomment %}
                    {% capture new-line %}<span class="annotation-link" onclick="window.location.href='#{{ annotation.Id }}';" tabindex="-1">{{ replaced-line }}</span>{% endcapture %}
                    {% capture annotated-text-ru %}{{ annotated-text-ru | replace_first: replaced-line, new-line }}{% endcapture %}
                  {% endif %}
                {% endif %}
            {% endfor %}
            
            {{ annotated-text-ru }}
          </div>
        </div>
      </div>
</article>

<div id="annotation-panel">
  <button class="expbtn" id="btn-expand-annotations" onclick="expandAnnotations()">▲</button>
  <div id="annotation-text">
      <div id="annotations-en">
          {% for annotation in annotations-en %}
            {% assign chapter = annotation.chapter | truncate: 2, "" %}
            {% if chapter == page.number %}
              {% include annotation-en.html %}
            {% endif %}
          {% endfor %}
      </div>
      <div id="annotations-ru">
          {% for annotation in annotations-ru %}
            {% assign chapter = annotation.chapter | truncate: 2, "" %}
            {% if chapter == page.number %}
              {% include annotation-ru.html %}
            {% endif %}
          {% endfor %}
      </div>
  </div>
</div>